@import "tailwindcss";
@theme inline {
  --color-primary: oklch(0.72 0.11 178);
  --color-text: #ffffff;
  --color-background: #101722;
  --color-secondary: #17232d;
}

body {
  background-color: #101722;
  font-family: 'Inter', sans-serif;
}

.decoration {
    -webkit-text-stroke: 5px oklch(0.72 0.11 178);
    color: transparent;
    font: 10rem fantasy;
    font-size-adjust: 0.65;
    opacity: 25%;
    position: absolute;
}

.left {
    top: 15px;
    left: -50px;
}

.right {
    bottom: 15px;
    right: -50px;
}